@import url("https://fonts.googleapis.com/css?family=Lato:300");

.overlay {
	--border-width: 3px;
  
	/* position: relative;
	display: flex; */
	/* justify-content: center;
	align-items: center; */
	/* width: 300px;
	height: 200px; */
	font-family: Lato, sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	/* color: white; */
	/* background: #222; */
	border-radius: var(--border-width);

	  
}

.overlay::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
	  60deg,
	  hsl(224, 85%, 66%),
	  hsl(269, 85%, 66%),
	  hsl(314, 85%, 66%),
	  hsl(359, 85%, 66%),
	  hsl(44, 85%, 66%),
	  hsl(89, 85%, 66%),
	  hsl(134, 85%, 66%),
	  hsl(179, 85%, 66%)
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: calc(2 * var(--border-width));
	animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
	50% {
	  background-position: 100% 50%;
	}
  }
  

.player-card {
	position: relative;
	width: 300px;
	height: 315px;
	background-image: url("../assets/imgs/Card 1.png");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 3.8rem 0;
	z-index: 2;
	-webkit-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;
}

.player-card-top{
    position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #e9cc74;
	padding: 0 1.5rem;
}

.player-img{
    width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
}

.player-info{
    display: block;
	padding: 0.3rem 0;
	color: #e9cc74;
	width: 90%;
	margin: 0 auto;
	height: auto;
	position: relative;
	z-index: 2;
}

.player-name{
    width: 100%;
	display: block;
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(233, 204, 116, 0.1);
	padding-bottom: 0.3rem;
	overflow: hidden;
}

.player-fullname{
    width: 100%;
	display: block;
	text-align: center;
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(233, 204, 116, 0.1);
	padding-bottom: 0.3rem;
	overflow: hidden;
}

.player-features{
    margin: 0.5rem auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.player-features-col{
	padding: 0 2.3rem;
}

.player-features-col:first-child{
    border-right: 2px solid rgba(233, 204, 116, 0.1);
}

.player-feature-value{
    margin-right: 0.3rem;
    font-weight: 700;
}

.player-feature-title{
    font-weight: 300;
}

.player-master-info{
    position: absolute;
	line-height: 2.2rem;
	font-weight: 300;
	padding: 1.5rem 0;
	text-transform: uppercase;
    writing-mode: vertical-lr;
}
