<%- include('../partials/top', {title: "Homepage"}); %>

<h1>Homepage</h1>

<video id="videoPlayer" width="90%" controls muted="muted" autoplay>
    <source src="/video" type="video/mp4" />
</video>

<script>
</script>

<%- include('../partials/bottom'); %>