<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #tv-content{
            width: 90vw;
            height: 90vh;
            border: 1px dotted darkred;
        }
    </style>
</head>

<body>
    <div id="room_id_div"><p id="room_id_p"></p></div>
    <div id="room_div" style="display: none;">
        <input type="text" id="room_id"/>
        <button onclick="createRoom();">Create room</button>
    </div>

    <div id="tv-content"></div>

    <script src="/node/socket.io/socket.io.js"></script>
    <script>
        // var socket = io.connect('https://s5117817.bucomputing.uk', { path: '/node/socket.io/'});
        var socket = io.connect(window.location.origin, {path: '/node/socket.io/'});
        const createRoom = () => {
            roomValueEle = document.getElementById("room_id");
            if(roomValueEle.value != ""){
                socket.emit("create_room", roomValueEle.value)
                console.log("CLIENT SOCKET ID" + socket.id)
            }                     
        }
    </script>
    <script src="js/tv_sockets.js"></script>

</body>